#page-login{
    width: 100vw;
    height: 100vh;
}


#page-login main{
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: 0rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.2);
}

#page-login main .login{
    border: 0;
    padding: 0 2.4rem;
}


#page-login main .login legend{
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-login main .login .input-block + .textarea-block{
    margin-top: 2.4rem;
}

#page-login main label{
    color: var(--color-text-complement);
}

#page-login main footer{
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#page-login main footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

#page-login main footer p img{
    margin-right: 2rem;
}

#page-login main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-login main footer button:hover{
    background: var(--color-secundary-dark);
}

label#image {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    cursor: pointer;
    height: 400px;

    display: flex;
    justify-content: center;
  }

  form{
  animation-name: fade;
  animation-duration: 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#page-login main .login legend{
    background: 0;
}

@media(min-width: 700px){
    #page-login{
        max-width: 100vw;
    }

    #page-login .JJM{
        width: 25%;
    }

    #page-login .header-content strong{
        margin-right: 30rem;
    }

    #page-login main .login{
        padding: 0 6.4rem;
        width: 700px;
    }

    #page-login main footer{
        padding: 4.8rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-login main footer p{
        justify-content: space-between;
    }

    #page-login main footer button{
        width: 20rem;
        margin-top: 0;
    }
} 

@media(min-width: 1366px){
    #page-login{
        max-width: 100vw;
    }

    #page-login .JJM{
        width: 25%;
        margin-left: 25rem;
    }

    #page-login .header-content strong{
        margin-right: 50rem;
        padding: 2rem;
    }

    #page-login main .login{
        padding: 0 6.4rem;
        width: 700px;
    }

    #page-login main footer{
        padding: 4.8rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-login main footer p{
        justify-content: space-between;
    }

    #page-login main footer button{
        width: 20rem;
        margin-top: 0;
    }
} 


@media(min-width: 1920px){
    #page-login{
        max-width: 100vw;
    }

    #page-login .JJM{
        width: 25%;
        margin-left: 25rem;
    }

    #page-login .header-content strong{
        margin-right:60rem;
        padding: 2rem;
    }

    #page-login main .login{
        padding: 0 6.4rem;
        width: 700px;
    }

    #page-login main footer{
        padding: 4.8rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-login main footer p{
        justify-content: space-between;
    }

    #page-login main footer button{
        width: 20rem;
        margin-top: 0;
    }
} 