#page-dashboard-land{
    width: 100%;
    height: 100%;
}

#page-dashboard-land .openSidebar{
    align-self: flex-start;
    margin-top: 4rem;
    cursor: pointer;
    margin-left: 2rem;
}

#page-dashboard-land .header-content strong{
    font-size: 2.6rem;
}



@media(min-width:800px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 60%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 25rem;
        font-size: 3rem;
        width: 50rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 60rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header img{
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item{
        height: 65rem;
    }
}


/* MEDIA 1366 */
/* MEDIA 1366 */
/* MEDIA 1366 */
/* MEDIA 1366 */
/* MEDIA 1366 */

@media(min-width:1366px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 10%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 40rem;
        font-size: 3.6rem;
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 40rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        width: 90%;
        margin: 2rem auto;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header img{
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item{
        height: 65rem;
    }
}


/* MEDIA 1440 */
/* MEDIA 1440 */
/* MEDIA 1440 */
/* MEDIA 1440 */
/* MEDIA 1440 */
/* MEDIA 1440 */

@media(min-width:1440px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 10%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 50rem;
        font-size: 3.6rem;
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 40rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        width: 90%;
        margin: 2rem auto;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header img{
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item{
        height: 65rem;
    }
}

/* MEDIA 1600 */
/* MEDIA 1600 */
/* MEDIA 1600 */
/* MEDIA 1600 */
/* MEDIA 1600 */

@media(min-width:1600px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 10%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 65rem;
        font-size: 3.6rem;
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 40rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        width: 90%;
        margin: 2rem auto;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header img{
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item{
        height: 65rem;
    }
}

/* MEDIA 1920 */
/* MEDIA 1920 */
/* MEDIA 1920 */
/* MEDIA 1920 */
/* MEDIA 1920 */
/* MEDIA 1920 */

@media(min-width:1920px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 8%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 90rem;
        font-size: 3.6rem;
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 50rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        width: 90%;
        margin: 2rem auto;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header img{
        flex-direction: column;
        width: 80%;
        border-radius: 10px;
        object-fit: cover;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .newsArea .news-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .popnewsArea .popnews-item{
        height: 65rem;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header img{
        width: 80%;
        border-radius: 10px;
        object-fit: fill;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header strong{
        font-size: 2.4rem;
        text-align: center;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item header span{
        display: none;
    }

    #page-dashboard-land .dashboardMain .sportArea .sports-item{
        height: 65rem;
    }
}