#page-dashboard-land{
    width: 100%;
    height: 100%;
}

#page-dashboard-land .openSidebar{
    align-self: flex-start;
    margin-top: 4rem;
    cursor: pointer;
    margin-left: 2rem;
}



@media(min-width:800px){
    #page-dashboard-land{
        max-width: 100%;
        height: 100%;
    }

    #page-dashboard-land .JJM img{
        width: 40%;
    }

    #page-dashboard-land .header-content strong{
        margin-right: 30rem;
        font-size: 3rem;
        width: 40rem;
    }

    #page-dashboard-land .openSidebar{
        align-self: flex-start;
        margin-top: 0rem;
        cursor: pointer;
        margin-left: 50rem;
        position: absolute;
    }

    #page-dashboard-land .dashboardMain{
        display: grid;

    }
    
}
