#page-dashboard-land{
    width: 100vw;
    height: 100vh;
}

#search-news{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

#search-news .openSidebar{
    cursor: pointer;
    margin-top: -12rem;
}

#search-news .openSidebar p{
    margin-top: 4rem;
}

#search-news label{
    color: var(--color-text-in-primary);
}


#page-dashboard-land .dashboardMain{
    display: flex;
    flex-direction: row;
    background: var(--color-text-compliment);
    padding: 2rem;
}

#page-dashboard-land .dashboardMain main{
    margin: 3.2rem auto;
    margin-right: 1.3rem;
    width: 100%;
    animation-name: fade;
    animation-duration: 2000ms;
}


#page-dashboard-land .dashboardMain .sidebarClick{
    height: 100vh;
    width: 20px;
    
}

#page-dashboard-land .dashboardMain main h1{
   margin: 10rem;
    
}

@keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  #page-dashboard-land  .pageButton-group{
      padding: 2.8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 4rem;
  }

  #page-dashboard-land  .pageButton-group button{
    width: 20rem;
    height: 5.6rem;
    background: var(--color-button-pages);
    color: var( --color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

#page-dashboard-land  .pageButton-group button+ button{
    margin-left: 1.2rem;
}

#page-dashboard-land  .pageButton-group .button-next:disabled,
#page-dashboard-land  .pageButton-group .button-prev:disabled,
#page-dashboard-land  .pageButton-group .button-next:disabled:hover,
#page-dashboard-land  .pageButton-group .button-prev:disabled:hover{
    background: var(--color-text-base);
    cursor: default;
}

#page-dashboard-land  .pageButton-group .button-next:hover{
    background: var(--color-secundary-dark);
}

#page-dashboard-land  .pageButton-group .button-prev:hover{
    background: var(--color-button-lives);
}

 
.sidebar-gridcolumn{
    margin-top: 0rem;
}


@media(min-width:700px){
    #page-dashboard-land{
        max-width: 100%;
    }

    #search-news{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        margin-bottom: 5rem;
        margin-left: -18rem;
    }

    #search-news p{
        margin-left: 92rem;
    }

    
    #page-dashboard-land .dashboardMain{
        justify-content: center;
    }
    
    #page-dashboard-land .dashboardMain main{
        padding: 0;
        width: 90%;
        margin: 0 auto;
        margin-left: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    #page-dashboard-land .dashboardMain main .newsArea{
        width: 120%;
        border-radius: 30px;
        padding: 0 1rem;

    }

    #page-dashboard-land .dashboardMain main .newsArea header img{
        border-radius: 5%;
        width: 50%;
    }

    #page-dashboard-land .dashboardMain main .newsArea footer p{
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        margin-right: 10rem;
    }

    #page-dashboard-land .dashboardMain main .newsArea footer p strong{
        margin-left: 2rem;
    }

    #page-dashboard-land .dashboardMain main .newsArea button{
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .dashboardMain main .newsArea header div strong{
        font-size: 2rem;
    }

    #page-dashboard-land .dashboardMain main .newsArea header div span{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea{
        width: 100%;
        margin: 0 auto;
        margin-left: 10rem;
        border-radius: 30px;
        padding: 0 1rem;

    }

    #page-dashboard-land .dashboardMain main .popnewsArea header{
        flex-direction: column;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea header img{
        border-radius: 1%;
        width: 100%;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea header div strong{
        font-size: 2rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea header div span{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea p{
        font-size: 1.4rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea footer p{
        flex-direction: column;
        display: flex;
        margin: 0 auto;
        margin-right: 4rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea footer p strong{
        font-size: 1.6rem;
        margin-left: 2.8rem;
    }

    #page-dashboard-land .dashboardMain main .popnewsArea button{
        width: 100%;
        padding: 1rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea{
        width: 80%;
        margin: 0 auto;
        margin-left: 11.2rem;
        border-radius: 30px;
        padding: 0 1rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea header{
        flex-direction: column;
        max-height: 350px;
    }

    #page-dashboard-land .dashboardMain main .reportArea header img{
        border-radius: 5%;
    }

    #page-dashboard-land .dashboardMain main .reportArea header div strong{
        font-size: 2rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea header div span{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea p{
        font-size: 1.4rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea button{
        width: 90%;
        padding: 1rem;
        margin-left: 2.4rem;
        font-size: 1.4rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea footer p{
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    #page-dashboard-land .dashboardMain main .reportArea footer p strong{
       margin-left: 0.4rem;
       font-size: 1.4 rem;
    }

   
    #search-news .openSidebar{
        margin-left: -15rem;
    }

    #search-news .openSidebar p{
        margin-top: 10rem;
    }
}