#page-PopNewsPage{
    width: 100vw;
    height: 100vh;
}

#search-popnews{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

#search-popnews .openSidebar{
    cursor: pointer;
    margin-top: -12rem;
}

#search-popnews .openSidebar p{
    margin-top: 4rem;
}

#search-popnews label{
    color: var(--color-text-in-primary);
}

#search-popnews .input-block{
    width: 80%;
    margin-left: 2rem;
}

#page-PopNewsPage .PopNewsPageMain{
    display: flex;
    flex-direction: row;
    background: var(--color-input-background);
}

#page-PopNewsPage .PopNewsPageMain main{
    margin: 3.2rem auto;
    width: 90%;
    animation-name: fade;
    animation-duration: 2000ms;
}


#page-PopNewsPage .PopNewsPageMain .sidebarClick{
    height: 100vh;
    width: 20px;
    
}

#page-PopNewsPage .PopNewsPageMain main h1{
   margin: 10rem;
    
}

@keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

  #page-PopNewsPage  .pageButton-group{
      padding: 2.8rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 4rem;
  }

  #page-PopNewsPage  .pageButton-group button{
    width: 20rem;
    height: 5.6rem;
    background: var(--color-button-pages);
    color: var( --color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

#page-PopNewsPage  .pageButton-group button+ button{
    margin-left: 1.2rem;
}

#page-PopNewsPage  .pageButton-group .button-next:disabled,
#page-PopNewsPage  .pageButton-group .button-prev:disabled,
#page-PopNewsPage  .pageButton-group .button-next:disabled:hover,
#page-PopNewsPage  .pageButton-group .button-prev:disabled:hover{
    background: var(--color-text-base);
    cursor: default;
}

#page-PopNewsPage  .pageButton-group .button-next:hover{
    background: var(--color-secundary-dark);
}

#page-PopNewsPage  .pageButton-group .button-prev:hover{
    background: var(--color-button-lives);
}

 
.sidebar-gridcolumn{
    margin-top: 0rem;
}


@media(min-width:700px){
    #page-PopNewsPage{
        max-width: 100%;
    }

    #search-popnews{
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        margin-bottom: 5rem;
        margin-left: -18rem;
    }

    #search-popnews p{
        margin-left: 92rem;
    }

    #search-popnews .input-block {
        margin-left: 88rem;
        width: 350px;
    }
    
    #page-PopNewsPage .PopNewsPageMain{
        justify-content: center;
    }
    
    #page-PopNewsPage .PopNewsPageMain main{
        padding: 0rem 0;
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        
    }

   
    #search-popnews .openSidebar{
        margin-left: -15rem;
    }

    #search-popnews .openSidebar p{
        margin-top: 10rem;
    }
}