.popnews-item{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    width: 100%;
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
    animation-name: fade;
    animation-duration: 2000ms;
    -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
}

.popnews-item header{
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    margin-bottom: auto;
}

.popnews-item header img{
    width: 22rem;
    height: 22rem;
    border-radius: 15%;
    object-fit: cover;
    object-position: center;
    border: 1px double grey;
}

.popnews-item header div{
    margin-left: 2.4rem;
    margin-top: 2rem;
}

.popnews-item header div span{
    font-size: 1.2rem;
    display: block;
    margin-top: 0.4rem;
}

.popnews-item header div span + span{
   margin-left: 24rem;
}

.popnews-item > p{
    padding: 0 2rem;
    font-size: 1.4rem;
    line-height: 2.8rem;
    text-align: justify;
    margin-bottom: auto;
}

.popnews-item footer{
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popnews-item footer p strong{
    color: var(--color-primary);
    font-size: 1.4rem;
    display: block;
    margin-top: 1rem;
}

.popnews-item footer button{
    width: 13rem;
    height: 5.6rem;
    padding: 1rem;
    background: var(--color-secundary);
    color: var(--color-primary-darker);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.3rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.popnews-item footer button:hover{
    background: var(--color-secundary-dark);
}

.popnews-item footer a{
    text-decoration: none;
}

.popnews-item footer p{
    font-size: 1.4rem;
}



.popnews-item header div strong{
    font: 700 1.8rem Archivo;
    max-width: 100%;
    display: block;
    color: var(--color-text-title);
}

@keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  

@media(min-width: 800px){
    .popnews-item{
        background: var(--color-box-base);
        border: 1px solid var(--color-line-in-white);
        border-radius: 0.8rem;
        margin-top: 2.4rem;
        overflow: hidden;
        animation-name: fade;
        animation-duration: 2000ms;
        -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        height: 54rem;
    }

    .popnews-item header{
        padding: 3.2rem 2rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-items: center;
    }

    .popnews-item header img{
        width: 22rem;
        height: 22rem;
        border-radius: 15%;
        object-fit: cover;
        object-position: center;
        border: 1px double grey;
    }
    
    .popnews-item header div{
        margin-left: 2.4rem;
        margin-top: 2rem;
    }

    .popnews-item header div span{
        font-size: 1.2rem;
        display: block;
        margin-top: 0.4rem;
    }

    .popnews-item header div span + span{
        margin-left: 24rem;
     }
     
     .popnews-item > p{
        padding: 0 2rem;
        font-size: 1.4rem;
        line-height: 2.8rem;
        text-align: justify;
        height: 4rem;
    }

    .popnews-item footer{
        padding: 3.2rem 2rem;
        background: var(--color-box-footer);
        border-top: 1px solid var(--color-line-in-white);
        margin-top: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .popnews-item footer p strong{
        color: var(--color-primary);
        font-size: 1.8rem;
        display: block;
        margin-top: 1rem;
    }
    
    .popnews-item footer button{
        width: 20rem;
        height: 5.6rem;
        padding: 1rem;
        background: var(--color-secundary);
        color: var(--color-primary-darker);
        border: 0;
        border-radius: 0.8rem;
        cursor: pointer;
        font: 700 1.5rem Archivo;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.2s;
    }
    
    .popnews-item footer button:hover{
        background: var(--color-secundary-dark);
    }
    
    .popnews-item footer a{
        text-decoration: none;
    }
    
    .popnews-item footer p{
        font-size: 1.4rem;
    }
    
    .popnews-item header div strong{
        font: 700 2rem Archivo;
        max-width: 400px;
        display: block;
        color: var(--color-text-title);
    }
    @keyframes fade {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }

}

@media(min-width: 1200px){
    .popnews-item{
        background: var(--color-box-base);
        border: 1px solid var(--color-line-in-white);
        border-radius: 0.8rem;
        margin-top: 2.4rem;
        overflow: hidden;
        animation-name: fade;
        animation-duration: 2000ms;
        -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.5);
        height: 54rem;
    }

    .popnews-item header{
        padding: 3.2rem 2rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-items: center;
    }

    .popnews-item header img{
        width: 22rem;
        height: 22rem;
        border-radius: 15%;
        object-fit: cover;
        object-position: center;
        border: 1px double grey;
    }
    
    .popnews-item header div{
        margin-left: 2.4rem;
        margin-top: 2rem;
    }

    .popnews-item header div span{
        font-size: 1.2rem;
        display: block;
        margin-top: 0.4rem;
    }

    .popnews-item header div span + span{
        margin-left: 24rem;
     }
     
     .popnews-item > p{
        padding: 0 2rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
        text-align: justify;
        height: 4rem;
    }

    .popnews-item footer{
        padding: 3.2rem 2rem;
        background: var(--color-box-footer);
        border-top: 1px solid var(--color-line-in-white);
        margin-top: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .popnews-item footer p strong{
        color: var(--color-primary);
        font-size: 1.8rem;
        display: block;
        margin-top: 1rem;
    }
    
    .popnews-item footer button{
        width: 20rem;
        height: 5.6rem;
        padding: 1rem;
        background: var(--color-secundary);
        color: var(--color-primary-darker);
        border: 0;
        border-radius: 0.8rem;
        cursor: pointer;
        font: 700 1.5rem Archivo;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.2s;
    }
    
    .popnews-item footer button:hover{
        background: var(--color-secundary-dark);
    }
    
    .popnews-item footer a{
        text-decoration: none;
    }
    
    .popnews-item footer p{
        font-size: 1.4rem;
    }
    
    .popnews-item header div strong{
        font: 700 2.4rem Archivo;
        max-width: 550px;
        display: block;
        color: var(--color-text-title);
    }
    @keyframes fade {
        from {
          opacity: 0;
          transform: scale(0.9);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
}