#page-news-details{
    width: 100vw;
    height: 100vh;
}

#page-news-details main{
    margin: 3.2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-detail header{
    padding: 3.2rem 2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.news-detail header img{
    max-width: 300px;
    height: 80%;
    border-radius: 5%;
    object-fit: contain;
    margin-top: -5rem;
    margin-bottom: 2rem;
}

.news-detail header div span{
    display: flex;
    margin-top: 0rem auto;
    margin-left: 2rem;
    max-width: 430px;
    font: 400 1.6rem Fenix;
    padding: 1rem;
    align-items: center;
    justify-content: center;

}

.news-detail > p{
    padding: 0 3rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
    text-align: justify;
    max-width: 430px;
    margin: 0 auto;
}

.news-detail p{
    margin-bottom: 4.2rem;
}

.news-detail > p img{
    max-width: 300px;
}

.news-detail > p h2{
    font-size: 2.6rem;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.news-detail footer{
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-detail footer p{
    font-size: 1.2rem;
}


.news-detail footer p strong{
    color: var(--color-primary);
    font-size: 1.6rem;
    display: block;
    margin-top: 1.2rem;
    width: 10rem;
}

.news-detail footer button{
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.news-detail footer button a{
    text-decoration: none;
}

.news-detail footer button:hover{
    background: var(--color-secundary-dark);
}

.news-detail header div strong{
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

#search-popnewsdetail .openSidebar{
    cursor: pointer;
    margin-top: 10rem;
    margin-bottom: -10rem;
}

#search-popnewsdetail .openSidebar p{
    margin: 0;
    margin-bottom: 0;
}

.news-detail  .altImages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.news-detail  .altImages img{
    width: 30rem;
    height: 30rem;
    border-radius: 5%;
}

.news-detail  .altImages img + img{
    margin-top: 2rem;
}

.news-detail .diviser{
    margin: 5rem auto;
    border-top: 1px solid var(--color-text-complement);
    width: 90%;
}

.news-detail legend{
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

footer p .info{
    color: black;
    font-weight: bold;
}

footer .source{
    font-size: 2.2rem;
}

.video iframe{
    width: 420px;
    height: 300px;
    padding: 2rem;
}

.video_youtube{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video_url{
    width: 300px;
    height: 200px;
}

.relatedNews{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 70%;
}

.relatedNews .relatedItem{
    padding: 2rem;
    width: 90%;
    display: flex;
    text-align: justify;
    border-radius: 10%;
    margin-top: 2rem;


    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);

}

.relatedNews .relatedItem a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: -1rem auto;
}

.relatedNews .relatedItem a img{
    width: 160px;
    height: 160px;
    border-radius: 5%;
    margin: 0 auto;
    object-fit: cover;
}

.relatedNews .relatedItem a div{
    margin-top: 1rem;
}

.relatedNews .relatedItem a div strong{
    font-size: 1.4rem;
}

.relatedNews .relatedItem a div p{
    margin: 1rem auto;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid var(--color-text-complement);
    background: var(--color-line-in-white);
    margin-bottom: 0.8rem;
    width: 50%;
    padding: 0.5rem;
    border-radius: 5%;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
}

.shareFacebook{
    font-size: 1.2rem;
    margin: 2rem auto;
    text-align: center;
    width: 50%;
    border-radius: 5%;
    background: #0606c7;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.shareFacebook a{
    font-size: 1.2rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    flex-direction: column;
}

.shareFacebook:hover{
    background: black;
}

.icon{
    margin: 0 auto;
}

.fb-comments{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.whatsappShare{
    display: flex;
    justify-content: center;
}

.whatsappShare a:hover{
    background: black;
    color: white;
}

.whatsappShare a{
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    max-width: 180px;
}

@media(min-width:700px){
    #page-news-details{
        max-width: 100%;
    }

    #page-news-datails main{
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;
    }
    
    .news-detail header,
    .news-detail footer{
        padding: 3.2rem;
    }

    .news-detail header img{
        max-width: 100rem;
        height: 65rem;
        object-fit: contain;
        margin-top: -5rem;

        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
    }

    .news-detail header div span{
        margin-bottom: 5rem;
        max-width: 1000px;
        font-size: 2rem;

    }

    .news-detail > p{
        padding: 0 3.2rem;
        text-align: justify;
        max-width: 1000px;
        font-size: 1.8rem;

    }

    .news-detail > p img{
        max-width: 800px;
        margin-bottom: 2rem;

    }

    .news-detail .altImages{
        flex-direction: row;
    }

    .news-detail  .altImages img{
        width: 35rem;
        height: 35rem;
        border-radius: 5%;
    }
    
    .news-detail  .altImages img + img{
        margin-top: 0;
        margin-left: 3rem;
    }
    

    .news-detail footer p strong{
        display: block;
        
    }

    .news-detail footer p{
        border: 0;
        font-size: 1.4rem;
    }

    .news-detail footer button{
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .news-detail footer button img{
        margin-right: 1.6rem;
    }

    #search-popnewsdetail .openSidebar{
        margin-left: -33rem;
    }

    #search-popnewsdetail .openSidebar p{
        margin-top: -12rem;
    }

    
    .video iframe{
        width: 700px;
        height: 450px;
        padding: 2rem;
    }


    .video_youtube{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .video_url{
        width: 800px;
        height: 450px;
    }

    footer p .source{
        margin-top: 20rem;
    }
    
    .news-detail .editorial{
        font-size: 1.6rem;
        font-family: Archivo;
    }


    .relatedNews{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    
    .relatedNews .relatedItem{
        padding: 2rem;
        width: 25%;
        display: flex;
        text-align: justify;
        border-radius: 10%;
        margin-top: 0rem;
        min-height: 270px;
    }
    
    .relatedNews .relatedItem + .relatedItem{
        margin-left: 2rem;
    }

    .relatedNews .relatedItem a{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: -1rem auto;
    }
    
    .relatedNews .relatedItem a img{
        width: 150px;
        height: 150px;
        border-radius: 5%;
        margin: 0 auto;
    }
    
    .relatedNews .relatedItem a div{
        margin-top: 1rem;
    }
    
    .relatedNews .relatedItem a div strong{
        font-size: 1.2rem;
    }
    
    .relatedNews .relatedItem a div p{
        margin: 1rem auto;
        font-size: 1.1rem;
        font-weight: bold;
        border: 1px solid var(--color-text-complement);
        background: var(--color-line-in-white);
        margin-bottom: 0.8rem;
        width: 50%;
        padding: 0.2rem;
        border-radius: 5%;
        border-bottom: 0;
        border-top: 0;
        text-align: center;
    }
    .icon{
        margin-right: 1rem;
    }

    .shareFacebook{
        max-width: 18rem;
    }

    .shareFacebook a{
        font-size: 1.4rem;
        flex-direction: row;
        justify-content: space-evenly;
        margin-right: 2rem;
    }
    
    .whatsappShare a{
        font-size: 1.4rem;
        flex-direction: row;
        justify-content: space-evenly;
        width: 200px;
    }

}