.page-header{
    display: flex;
    flex-direction: column;
    background: var(--color-primary-darker);
   
}

.page-header a{
    margin-top: 1rem;
    margin-right: auto;
    margin-left: 2rem;
    margin-bottom: -1rem;
}

.page-header .header-content{
    width: 90%;
    position: relative;
    margin: 8rem auto;
    margin-bottom: 2rem;
}

.page-header .header-content strong{
    font: 700 2.2rem Archivo;
    line-height: 3.8rem;
    color: var(--color-title-in-primary);
    text-align: start;
    margin-left: 0rem;
}

.page-header .header-content p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 10rem;
}

  @keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.page-header .JJM{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.page-header .JJM a{
    color: white;
    margin-top: -4rem;
    margin-right: 2rem;
}

.page-header .JJM .icon{
    margin-left: -2rem;
    background: white;
    border-radius: 20%;
    margin-right: 1rem;
    margin-top: -0.6rem;
}

.page-header .JJM img{
    width: 40px;
    height: 40px;
    margin-top: 0;
    margin-bottom: -5rem;
    margin-right: 4rem;
    background: rgb(238, 218, 247);
    border-radius: 50%;
}

@media(min-width:700px){
    .page-header{
        height: 240px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .page-header .JJM{
        margin: auto;
        margin-left: 5rem;
    }

    .page-header .JJM img{
        width: 150px;
        height: 150px;
        margin-top: -20px;
        margin-bottom: 2rem;
        margin-right: 2rem;
        background: rgb(238, 218, 247);
        border-radius: 50%;
    }

 
    .page-header .header-content{
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .page-header .header-content h1{
        margin-left: auto;
    }


    .page-header .header-content strong{
        width: 100vw;
        margin-bottom: -5rem;
        margin-left: -25rem;
        font-size: 3.8rem;
        margin-top: 0rem;

    }
    
}