.page-header{
    background: var(--color-primary-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.page-header .JJM{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header .JJM img{
    width: 15%;  
}

.page-header .header-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0.6rem;
}

.page-header .header-content strong{
    color: white;
    font: 700 2.4rem Archivo;
    margin-left: 2rem;
}

@media(min-width:800px){
    .page-header{
        background: var(--color-primary-darker);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .page-header .JJM{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .page-header .JJM img{
        width: 80%;
        margin-left: 2rem;
    }

    .page-header .header-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 0.6rem;
    }

    .page-header .header-content strong{
        color: white;
        font: 700 3.2rem Archivo;
        margin-left:0;
        width: 30rem;
        margin-right: 20rem;
        position: relative;
}

}

@media(min-width:1400px){
    .page-header{
        background: var(--color-primary-darker);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .page-header .JJM{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .page-header .JJM img{
        width: 15%;
        margin-right: 40rem;
    }

    .page-header .header-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0rem;
        margin-bottom: 0rem;
        padding: 0.6rem;
    }

    .page-header .header-content strong{
        color: white;
        font: 700 4.2rem Archivo;
        margin-left: -100rem;
        position: absolute;
}

}