#page-dashboard{
    width: 100%;
    height: 100%;
}


#search-news{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-news .openSidebar{
    margin-top: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

#page-dashboard .newspageMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-dashboard .pageButton-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

#page-dashboard .pageButton-group .button-prev{
    background: var(--color-button-pages);
    color: white;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    border: 0;
}

#page-dashboard .pageButton-group .button-prev:hover{
    background: var(--color-secundary-dark);
}

#page-dashboard .pageButton-group .button-next{
    background: var(--color-button-pages);
    color: white;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    border: 0;
}

#page-dashboard .pageButton-group .button-next:hover{
    background: var(--color-button-lives);
}

@media(min-width:700px){
    #page-dashboard{
        max-width: 100vw;
        height: 100%;
    }
    
    #search-news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #search-news .openSidebar{
        margin-top: 0rem;
        position: absolute;
        margin-left: -48rem;
        margin-right: 0rem;
        cursor: pointer;
    }

    #search-news input{
        margin-bottom: -1rem;
        width: 35rem;
    }

    #search-news .input-block{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-right: 2rem;
        position: relative;
    }
    

    #page-dashboard .newspageMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
    }
}


@media(min-width:1400px){
    #page-dashboard{
        max-width: 100vw;
        height: 100%;
    }
    
    #search-news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #search-news .openSidebar{
        margin-top: 0rem;
        position: absolute;
        margin-left: -96rem;
        margin-right: 0rem;
        cursor: pointer;
    }

    #search-news input{
        margin-bottom: -1rem;
    }

    #search-news .input-block{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 75%;
        margin-right: 2rem;
        position: relative;
    }

    #page-dashboard .newspageMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        padding: 2rem 10rem;
    }
}
