#page-options{
    width: 100vw;
    height: 100vh;
}

#search-report{
    margin-top: 3.2rem;   
}

#search-report .openSidebar{
    margin-top: -2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 4rem;
    
}

#search-report .openSidebar p{
    margin-bottom: 0rem;
    margin-left: -0.2rem;
    font: 700 1.6rem Archivo;
    
}

#search-report label{
    color: var(--color-text-in-primary);
}

#search-report button{
    width: 50%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700  1.8rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 2rem;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.6);
}

#search-report button:hover{
    background: var(--color-secundary-dark);
}


#page-options .optionsMain{
    display: flex;
    flex-direction: row;
    background: var(--color-input-background);
}

#page-options .optionsMain main{
    margin: 3.2rem auto;
    width: 90%;
    animation-name: fade;
    animation-duration: 2000ms;
}


#page-options .optionsMain .sidebarClick{
    height: 100vh;
    width: 20px;
    
}


@keyframes fade {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

 
.sidebar-gridcolumn{
    margin-top: 0rem;
}


#page-options .optionsMain main .optionsGrid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-options .optionsMain main .optionsGrid .optionNews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    padding: 10rem;
    border-radius: 10%;
    padding-left: 13rem;
    padding-right: 13rem;
    width: 80%;
    height: 30rem;

    background: linear-gradient(#4568dc        ,#b06ab3);

    transition: width 0.5s;
    cursor: pointer;

    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

#page-options .optionsMain main .optionsGrid .optionNews:hover{
    background: linear-gradient(#7b4397        ,#dc2430);
    width: 32rem;
}

#page-options .optionsMain main .optionsGrid .optionNews h1{
    font:700 2.8rem Archivo;
    color: white;
    text-align: center;
}

#page-options .optionsMain main .optionsGrid .optionPopNews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    padding: 10rem;
    padding-left: 12rem;
    padding-right: 12rem;
    border-radius: 10%;
    width: 90%;
    height: 30rem;

    transition: width 0.5s;
    cursor: pointer;

    background: linear-gradient(#43cea2      ,#185a9d);


    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

#page-options .optionsMain main .optionsGrid .optionPopNews:hover{
    background: linear-gradient(#02aab0       ,#00cdac);
    width: 32rem;
}

#page-options .optionsMain main .optionsGrid .optionPopNews h1{
    font:700 2.8rem Archivo;
    color: white;
    text-align: center;

}

#page-options .optionsMain main .optionsGrid .optionSport{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    padding: 10rem;

    border-radius: 10%;

    width: 90%;
    height: 28rem;

    transition: width 0.5s;
    cursor: pointer;

    background: linear-gradient(#56ab2f     ,#a8e063);


    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

#page-options .optionsMain main .optionsGrid .optionSport:hover{
    background: linear-gradient(#000428  ,#004e92);
    width: 32rem;
}

#page-options .optionsMain main .optionsGrid .optionSport h1{
    font:700 2.8rem Archivo;
    color: white;
    text-align: center;
}

#page-options .optionsMain main .optionsGrid .optionReport{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    padding: 10rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    border-radius: 10%;

    width: 100%;
    height: 30rem;

    transition: width 0.5s;
    cursor: pointer;

    background: linear-gradient(#bdc3c7    ,#2c3e50);


    -webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

#page-options .optionsMain main .optionsGrid .optionReport:hover{
    background: linear-gradient(#2b5876 ,#4e4376);
    width: 32rem;
}

#page-options .optionsMain main .optionsGrid .optionReport h1{
    font:700 2.8rem Archivo;
    color: white;
    text-align: center;
}

@media(min-width:700px){
    #page-options{
        max-width: 100%;
    }

    #search-report{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        column-gap: 10px;
        position: absolute;
        bottom: -38px;
        justify-content: flex-start;
    }

    #search-report button{
       margin-top: 5rem;
       width: 100px;
    }

    #search-report .input-block {
        margin-left: -8rem;
    }
    
    #page-options .optionsMain{
        justify-content: center;
    }
    
    #page-options .optionsMain main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5rem;
        padding: 0rem 0;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .sidebar-gridcolumn{
        margin-top: 1rem;
    }

    #search-report .openSidebar{
        margin-left: -38rem;
    }

    #search-report .openSidebar p{
        margin-top: -10.6rem;
    }
   

    #page-options .optionsMain main .optionsGrid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10rem;
        margin-left: 20rem;
        margin-top: 10rem;
        margin-bottom: auto;
    }

    #page-options .optionsMain main .optionsGrid .optionNews{
        padding-left: 10rem;
        padding-right: 10rem;
        width: 100%;
    }

    #page-options .optionsMain main .optionsGrid .optionPopNews{
        padding-top: 7rem;
        padding-left: 11rem;
        padding-right: 11rem;
        width: 100%;

    }

    #page-options .optionsMain main .optionsGrid .optionReport{
        padding-top: 7rem;
        padding-left: 7rem;
        padding-right: 7rem;

    }
}