#page-report-details{
    width: 100vw;
    height: 100vh;
    
}

#page-report-details main{
    margin: 3.2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.reports-detail header{
    padding: 3.2rem 2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.reports-detail header img{
    max-width: 300px;
    height: 40rem;
    border-radius: 10%;
    object-fit: contain;
    margin-top: -10rem;
}

.reports-detail header div span{
    font-size: 1.8rem;
    display: flex;
    margin-top: -5rem;
    font-weight: bold;
}

.reports-detail > p{
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
    text-align: justify;
    max-width: 430px;
    margin: 0 auto;
}

.reports-detail p{
    margin-bottom: 4.2rem;
}

.reports-detail > p img{
    max-width: 300px;
}

.reports-detail > p h2{
    font-size: 2.6rem;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.reports-detail footer{
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reports-detail footer p{
    font-size: 1.2rem;
    
}

.reports-detail footer p strong{
    color: var(--color-primary);
    font-size: 1.6rem;
    display: block;
    margin-top: 1.2rem;
    width: 10rem;
}

.reports-detail footer button{
    width: 20rem;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.2s;
}

.reports-detail footer button a{
    text-decoration: none;
}

.reports-detail footer button:hover{
    background: var(--color-secundary-dark);
}

.reports-detail header div strong{
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.openSidebar{
    margin-top: -2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 4rem;
    
}

 .openSidebar p{
    margin-bottom: 0rem;
    margin-left: -0.2rem;
    font: 700 1.6rem Archivo;
    
}

.reports-detail  .lutoImages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reports-detail  .lutoImages img{
    width: 30rem;
    height: 30rem;
    border-radius: 5%;
}

.reports-detail  .lutoImages img + img{
    margin-top: 2rem;
}

.reports-detail .diviser{
    margin: 5rem auto;
    border-top: 1px solid var(--color-text-complement);
    width: 90%;
}

.reports-detail legend{
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

footer p .info{
    color: black;
    font-weight: bold;
}

.shareFacebook{
    font-size: 1.6rem;
    margin: 2rem auto;
    text-align: center;
    width: 30%;
    padding: 0.6rem;
    border-radius: 5%;
    background: #0606c7;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.shareFacebook a{
    color: white;
}

.icon{
    margin: 0 auto;
}

.fb-comments{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

@media(min-width:700px){
    #page-report-details{
        max-width: 100%;
        
    }

    #page-news-datails main{
        padding: 3.2rem 0;
        max-width: 740px;
        margin: 0 auto;

    }
    
    .reports-detail header,
    .reports-detail footer{
        padding: 3.2rem;
    }

    .reports-detail header img{
        max-width: 80rem;
        height: 80rem;
        object-fit: contain;
        margin-top: -15rem;
    }

    .reports-detail header div span{
        margin-top: -10rem;
        font-size: 2rem;

    }

    .reports-detail > p{
        margin-top: 3.2rem;
        padding: 0 3.2rem;
        text-align: justify;
        max-width: 1000px;
        font-size: 1.8rem;

    }

    .reports-detail > p img{
        max-width: 800px;
        margin-bottom: 2rem;
    }

    .reports-detail .lutoImages{
        flex-direction: row;
    }

    .reports-detail  .lutoImages img{
        width: 35rem;
        height: 35rem;
        border-radius: 5%;
    }
    
    .reports-detail  .lutoImages img + img{
        margin-top: 0;
        margin-left: 3rem;
    }
    

    .reports-detail footer p strong{
        display: block;
        
    }

    .reports-detail footer p{
        border: 0;
        font-size: 1.4rem;
    }

    .reports-detail footer button{
        width: 24.5rem;
        font-size: 1.6rem;
        justify-content: center;
    }

    .reports-detail footer button img{
        margin-right: 1.6rem;
    }

    .openSidebar{
        margin-left: -20rem;
        margin-top: -8rem;
    }

    .icon{
        margin-right: 1rem;
    }

    .shareFacebook{
        width: 20%;
    }

  

}