#page-reports{
    width: 100%;
    height: 100%;
}

#page-reports .openSidebar{
    align-self: flex-start;
    margin-top: 4rem;
    cursor: pointer;
}

#page-reports .reportMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-reports .pageButton-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
}

#page-reports .pageButton-group .button-prev{
    background: var(--color-button-pages);
    color: white;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    border: 0;
}

#page-reports .pageButton-group .button-prev:hover{
    background: var(--color-secundary-dark);
}

#page-reports .pageButton-group .button-next{
    background: var(--color-button-pages);
    color: white;
    padding: 1.6rem 2rem;
    border-radius: 1rem;
    border: 0;
}

#page-reports .pageButton-group .button-next:hover{
    background: var(--color-button-lives);
}

@media(min-width:700px){
    #page-reports{
        max-width: 1000rem;
        height: 100%;
    }                                                               
    
    #page-reports .header-content strong{
        margin-left: -65rem;
    }

    #page-reports .JJM img{
        margin-right: 40rem;
        width: 15%;
    }

    #page-reports .openSidebar{
        align-self: flex-start;
        margin-top: 0;
        margin-left: -180rem;
        cursor: pointer;

    }
    
    #page-reports .reportMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-gap: 4rem;
    }
    
}


@media(min-width:1400px){
    #page-reports{
        max-width: 1000rem;
        height: 100%;
    }                                                               
    
    #page-reports .header-content strong{
        margin-left: -120rem;
    }

    #page-reports .JJM img{
        margin-right: 100rem;
        width: 10%;
    }

    #page-reports .openSidebar{
        align-self: flex-start;
        margin-top: 0;
        margin-left: -300rem;
        cursor: pointer;

    }
    
    #page-reports .reportMain{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        grid-gap: 4rem;
        padding: 10rem;
    }
    
}